body {
	background: #111;
	color: #BAD0EF;
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

#pad {
	padding: 10px;
}

#contain {
	background-color: #1b1b1b;
	padding: 10px 20px 10px 20px;
}

a {
	color: #2F74D0;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #34495e;
}

div.nav a {
	color: #95a5a6;
	margin-left: 0em;
	margin-right: 0em;
	padding: 0.5em;
	text-decoration: none;
}

div.nav a:hover,
div.nav a:focus,
div.nav a:active {
	color: #BAD0EF;
}

div.nav {
	text-align: right;
}

.button {
	background-color: #2F74D0;
	border: none;
	color: black;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline;
}
.center {
	margin: 30% auto auto auto;
}

.login{
	width: auto;
	padding: 10px 10px;
	background-color: #222;
	border: none;
	color: #2F74D0;
	outline: none;
	box-sizing: border-box;
}

.input {
	width: 100%;
	padding: 10px;
	background-color: #111;
	border: none;
	color: #2F74D0;
	outline: none;
	box-sizing: border-box;
}
