extends layout

block content
	form(action="/action", method="POST")
		input.input(type="text", name="description", placeholder="description")
		input.input(type="text", name="project", placeholder="project")
		input.input(type="date", name="date")
		input.input(type="time", name="time")

		input(type="text", name="action", value="add", style="display: none")
		button.button(name="submit") add
