extends layout

block content
	each task in tasks
		blockquote
			- var index = tasks.index(task)
			a(href="/action?action=restore&index=#{index}") restore
			b &nbsp#{task['description']}
			span &nbspfor
				b &nbsp#{task['project']}
			//-span &nbsp#{dates[index]}
