extends layout

block content
	form(action="/action", method="POST")
		input.input(type="text", name="description", value="#{task['description']}", placeholder="description")

		- var project = task['project'] if 'project' in task else ''
		input.input(type="text", name="project", value="#{project}", placeholder="project")

		input.input(type="date", value="#{t_date}", name="date")
		input.input(type="time", value="#{t_time}", name="time")

		input.input(type="text", name="action", value="update", style="display: none")
		input.input(type="text", name="id", value="#{task['id']}", style="display: none")
		button.button(name="submit") update
