doctype html
html
	head
		title tasks
		link(rel='stylesheet', href="#{url_for('static', filename='css/main.css')}")

		meta(name="viewport", content="width=device-width, initial-scale=1")

		block head
	body
		div#pad
			div#contain
				div.nav
					a(href="/") tasks
					a(href="/add") add
					a(href="/sync") sync
		div#pad
			div#contain
				h2 #{title}
				block content
