doctype html
html
	head
		title login
		link(rel='stylesheet', href="#{url_for('static', filename='css/main.css')}")

		meta(name="viewport", content="width=device-width, initial-scale=1")

	body
		div.center
			form(action="", method="POST")
				input.login(type="password", name="pass", placeholder="password", value="#{request.form.password}")
				button.button(name="submit") go
			if error
				p try again?
