extends layout

block content
	p Description:
		b &nbsp#{task['description']}
		p#time Due: #{due}, #{real_due} UTC
	p project:
		b &nbsp#{task['project'] if 'project' in task else 'no project'}
	- if 'annotations' in task:
		p Notes:
		- for annotation in task['annotations']
			blockquote #{annotation['description']}

	a(href="/edit?index=#{index}") edit
	br
	a(href="/action?action=done&id=#{task['id']}") complete
